{% extends "shared/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "E-mail Addresses" %}{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}

            <div class="w-full text-base-content bg-warning">
                <div class="container flex items-center justify-between px-6 py-4 mx-auto">
                    <div class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
                             viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
                        </svg>

                        <p class="mx-3">{{ message }}</p>
                    </div>

                    <button onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'
                            class="p-1 transition-colors duration-200 transform rounded-md hover:bg-opacity-25 hover:bg-gray-600 focus:outline-none">
                        <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endif %}


    <div class="flex w-full justify-center bg-base-200">
        <div class="flex flex-col lg:flex-row gap-6 my-5 ">
            {% include 'user/components/sidebar.html' %}
            <div class="">
                <div class="bg-base-100 shadow-md rounded-md">
                    <div class="flex flex-col flex-wrap gap-3 p-5">
                        <h2 class="">{% trans "E-mail Addresses" %}</h2>
                        {% if user.emailaddress_set.all %}
                            <p class="">{% trans 'The following e-mail addresses are associated with your account:' %}</p>

                            <form class="" action="{% url 'account_email' %}" class="email_list" method="post">
                                {% csrf_token %}
                                <fieldset class="blockLabels">

                                    {% for emailaddress in user.emailaddress_set.all %}
                                        <div class="flex ctrlHolder my-3">
                                            <label for="email_radio_{{ forloop.counter }}"
                                                   class="flex flex-wrap gap-3 align-center gap-3  {% if emailaddress.primary %}primary_email{% endif %}">

                                                <input class="checkbox checkbox-sm self-center	"
                                                       id="email_radio_{{ forloop.counter }}"
                                                       type="radio"
                                                       name="email"
                                                       {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{% endif %}
                                                       value="{{ emailaddress.email }}"/>

                                                {{ emailaddress.email }}
                                                {% if emailaddress.verified %}
                                                    <span class="verified badge badge-success gap-2">{% trans "Verified" %}</span>
                                                {% else %}
                                                    <span class="unverified badge badge-error gap-2">{% trans "Unverified" %}</span>
                                                {% endif %}
                                                {% if emailaddress.primary %}
                                                    <span class="primary badge badge-primary">{% trans "Primary" %}</span>{% endif %}
                                            </label>
                                        </div>
                                    {% endfor %}

                                    <div class="flex flex-wrap flex-row gap-3 buttonHolder my-4 gap-5">
                                        <button class="secondaryAction btn btn-sm btn-success max-md:btn-block capitalize"
                                                type="submit"
                                                name="action_primary">{% trans 'Make Primary' %}</button>
                                        <button class="secondaryAction btn btn-sm btn-info max-md:btn-block capitalize"
                                                type="submit"
                                                name="action_send">{% trans 'Re-send Verification' %}</button>
                                        <button class="primaryAction btn btn-sm btn-warning max-md:btn-block capitalize"
                                                type="submit"
                                                name="action_remove">{% trans 'Remove' %}</button>
                                    </div>

                                </fieldset>
                            </form>

                        {% else %}
                            <p>
                                <strong>{% trans 'Warning:' %}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
                            </p>

                        {% endif %}

                        {% if can_add_email %}
                            <h2>{% trans "Add E-mail Address" %}</h2>

                            <form class="flex flex-col" method="post" action="{% url 'account_email' %}"
                                  class="add_email">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button class="btn btn-success capitalize my-3" name="action_add"
                                        type="submit">{% trans "Add E-mail" %}</button>
                            </form>
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>
    </div>



{% endblock %}

{% block footer_references %}
    <script type="text/javascript">
        (function () {
            var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
            var actions = document.getElementsByName('action_remove');
            if (actions.length) {
                actions[0].addEventListener("click", function (e) {
                    if (!confirm(message)) {
                        e.preventDefault();
                    }
                });
            }
        })();
    </script>
{% endblock %}
