{% extends 'shared/base.html' %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block title %}
    {% trans "Logout" %}
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}

            <div class="w-full text-white bg-emerald-500">
                <div class="container flex items-center justify-between px-6 py-4 mx-auto">
                    <div class="flex">
                        <svg viewBox="0 0 40 40" class="w-6 h-6 fill-current">
                            <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z"></path>
                        </svg>

                        <p class="mx-3">{{ message }}</p>
                    </div>

                    <button onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'
                            class="p-1 transition-colors duration-200 transform rounded-md hover:bg-opacity-25 hover:bg-gray-600 focus:outline-none">
                        <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="flex w-full justify-center bg-base-200">
        <div class="flex flex-col lg:flex-row gap-3 justify-center w-max my-5">
            {% include 'user_profile/components/sidebar.html' %}
            <div class="mt-5 grid-cols-3 md:mt-0 md:col-span-3">
                <form class="" method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <div class="alert-warning shadow-md rounded-md p-5">
                        <div class="flex justify-start items-start gap-x-3">
                            <div class="space-y-3">
                                <div class="flex gap-x-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mt-1" viewBox="0 0 20 20"
                                         fill="currentColor">
                                        <path fill-rule="evenodd"
                                              d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                    <p class="text-lg font-medium">Are you sure you want to log out?</p>
                                </div>

                                <p class="text-lg">{{ form }}</p>
                                <div class="flex justify-center space-x-3 pt-2">
                                    <a href="{% url 'home' %}" class="btn btn-xs btn-ghost text-sm font-medium">No
                                    </a>
                                    <button type="submit" class="btn btn-xs text-sm font-medium">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}