{% extends 'shared/_base.html' %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block title %}
    {% trans "Logout" %}
{% endblock %}
{% block content %}
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <div class="bg-yellow-50 rounded-lg p-4 m-10">
            <div class="flex justify-start items-start space-x-5">
                <div class="text-yellow-400">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                              clip-rule="evenodd"/>
                    </svg>
                </div>
                <div class="space-y-3">
                    <p class="text-lg text-black font-medium">Are you sure you want to log out?</p>
                    <p class="text-lg text-black">{{ form }}</p>
                    <div class="flex space-x-3 pt-2">
                        <button href="{% url 'home' %}" class="btn btn-xs btn-error text-sm text-white font-medium">No
                        </button>
                        <button type="submit" class="btn btn-xs btn-success text-sm text-white font-medium">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}