{% extends 'shared/_base.html' %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block title %}
    {% trans 'password reset' %}
{% endblock %}
{% block content %}

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="p-4 my-5">
        <div class="alert alert-success shadow-lg">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
                     viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                </svg>
                <span>{% blocktrans %}Your password is now changed.{% endblocktrans %}</span>
            </div>
        </div>
    </div>
{% endblock %}