{% extends 'shared/_base.html' %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block content %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <div class="p-4 my-5">
            <div class="alert alert-error shadow-lg">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
                         viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                    <span>{% blocktrans %}The password reset link was invalid, possibly because it has already been
                        used.  Please request a
                        <a class="underline decoration-solid" href="{{ passwd_reset_url }}">new password reset</a>
                        .{% endblocktrans %}</span>
                </div>
            </div>
        </div>
    {% else %}
        <form method="POST" action="{{ action_url }}">

            <div class="w-full max-w-sm p-6 m-auto bg-white rounded-md shadow-md dark:bg-gray-800 my-5">
                <h1 class="text-3xl font-semibold text-center text-gray-700 dark:text-white mb-5">Reset Password</h1>

                <form class="mt-6">
                    <div>
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field }}
                            {{ field.errors }}
                        {% endfor %}

                    </div>

                    <div class="mt-6">
                        <button type="submit"
                                class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600"
                        >

                            {% trans 'reset password' %}</button>
                    </div>
                </form>

            </div>
        </form>
    {% endif %}
{% endblock %}