{% extends 'shared/_base.html' %}
{% load sorl_thumbnail %}
{% load custom_template_tag %}
{% block title %}
    {{ profile.user.username }}
{% endblock %}
{% block content %}
    <section class="w-full flex my-5 gap-x-7 justify-center">
        <div class="w-8/12 flex justify-around mx-3 flex-nowrap">
            <div class="avatar w-4/12 flex justify-center">
                <div class="rounded-full h-52 w-52">
                    {% if profile.user.profile_image %}
                        {% thumbnail profile.user.profile_image '208x208' crop=center quality=90 as img %}
                            <img alt="user profile image" src="{{ img.url }}"/>
                        {% endthumbnail %}
                    {% else %}
                        <img alt="user profile image" src="/static/images/avatar.png"/>
                    {% endif %}
                </div>
            </div>
            <div class="flex gap-y-4 flex-col w-8/12">
                <div class="flex justify-between">
                    <div class="flex flex-col gap-y-4">
                        {% if profile.user.get_full_name %}
                            <h1 class="text-5xl font-semibold">{{ profile.user.get_full_name|capfirst }}</h1>
                        {% else %}
                            <h1 class="text-5xl font-semibold">{{ profile.user.username|capfirst }}</h1>
                        {% endif %}
                        <h1></h1>
                        <p class="text-lg flex gap-x-0.5">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 self-center" fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"/>
                            </svg>
                            {{ profile.user.username }}
                        </p>
                    </div>
                    {% if profile.user.username == request.user.username %}
                        <button class="btn btn-info mr-3">
                            <a href="{% url 'edit_profile' %}">
                                Edit Profile
                            </a>
                        </button>
                    {% else %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="buttons has-addons">
                                {% if profile in request.user.profile.follows.all %}
                                    <button class="btn btn-active btn-ghost" name="follow" value="unfollow">
                                        Unfollow
                                    </button>
                                {% else %}
                                    <button class="btn btn-info" name="follow" value="follow">
                                        Follow
                                    </button>
                                {% endif %}

                            </div>

                        </form>
                    {% endif %}
                </div>
                <p class="w-4/5 ">{{ profile.user.biography }}</p>
                <div class="stats bg-base-200 text-primary-content mt-2">

                    <div class="stat">
                        <div class="stat-title text-base-content">Follower</div>
                        <div class="stat-value text-base-content">{{ profile.followed_by.count }}</div>
                    </div>

                    <div class="stat">
                        <div class="stat-title text-base-content">Following</div>
                        <div class="stat-value text-base-content">
                            {% if profile.follows.count == 0 %}
                                0
                            {% else %}
                                {{ profile.follows.count|minus }}
                            {% endif %}
                        </div>
                    </div>

                </div>
                <div class="divider"></div>

            </div>
        </div>
        <div class="w-2/12">
            <p class="text-2xl font-semibold mb-5">Suggest People</p>
            {% for profile in profiles %}
                <div class="flex items-center space-x-3 mt-3">
                    <div class="avatar">
                        <div class="mask mask-squircle w-12 h-12">
                            {% if profile.user.profile_image %}
                                {% thumbnail profile.user.profile_image '48x48' crop='center' quality=100 as image %}
                                    <img src="{{ image.url }}" alt="Avatar Tailwind CSS Component"/>
                                {% endthumbnail %}
                            {% else %}
                                <img src="/static/images/avatar.png" alt="Avatar Tailwind CSS Component"/>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <div class="font-bold">
                            <a href="{% url 'profile' profile.user.username %}">
                                {{ profile.user.username }}
                            </a>
                        </div>
                        <div class="text-sm opacity-50 line-clamp-1">{{ profile.user.biography }}</div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </section>
{% endblock %}