{% extends 'shared/base.html' %}
{% load thumbnail %}
{% load custom_template_tag %}
{% block title %}
    {{ profile.user.username }}
{% endblock %}
{% block content %}
    <section class="w-full flex flex-col my-5 gap-x-7 justify-center lg:flex lg:flex-row">
        <div class=" mx-3 lg:w-5/12">
            <div class="flex gap-y-7 flex-col">
                <div class="flex gap-x-[2rem]">
                    <div class="avatar flex justify-center">
                        <div class="rounded-full h-20 w-20 sm:w-36 sm:h-36">
                            {% if profile.user.profile.profile_image %}
                                {% thumbnail profile.profile_image '150x150' crop=center quality=100 as img %}
                                    <img alt="user profile image" src="{{ img.url }}"/>
                                {% endthumbnail %}
                            {% else %}
                                <img alt="user profile image" src="/static/images/avatar.png"/>
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex flex-col gap-y-[1rem] w-9/12">
                        <div class="flex gap-4">
                            {% if profile.user.get_full_name %}
                                <h1 class="text-3xl md:text-4xl font-semibold">{{ profile.user.get_full_name|capfirst }}</h1>
                            {% else %}
                                <h1 class="text-3xl md:text-4xl font-semibold">{{ profile.user.username|capfirst }}</h1>
                            {% endif %}
                            {% if profile.is_private %}
                                <div class="tooltip tooltip-bottom self-center" data-tip="private">
                                    <svg xmlns="http://www.w3.org/2000/svg" data-tip="hello"
                                         class="h-6 w-6" viewBox="0 0 20 20"
                                         fill="currentColor">
                                        <path fill-rule="evenodd"
                                              d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                </div>
                            {% endif %}
                        </div>
                        <p id="Username" class="text-lg flex gap-x-0.5">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 self-center" fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"/>
                            </svg>
                            {{ profile.user.username }}
                        </p>
                        <div class="flex justify-start">
                            {% if profile.user.username == request.user.username %}
                                <button class="btn btn-sm btn-active btn-ghost px-[23px] hover:bg-base-300 capitalize">
                                    <a href="{% url 'edit_profile' %}">
                                        Edit Profile
                                    </a>
                                </button>
                            {% else %}
                                <form id="FollowRequestForm" method="post">
                                    {% csrf_token %}
                                    <div class="w-6/12 buttons has-addons flex gap-x-3">
                                        {% if profile in request.user.profile.follows.all %}
                                            <button id="FollowUnfollowButton"
                                                    class="btn btn-sm btn-active btn-ghost capitalize px-6"
                                                    name="follow"
                                                    value="unfollow">
                                                Unfollow
                                            </button>
                                            <button class="btn btn-sm btn-active btn-success capitalize px-6"
                                                    name="message">
                                                message
                                            </button>
                                        {% elif profile in request.user.profile.follow_requests.all %}
                                            <button id="FollowUnfollowButton"
                                                    class="btn btn-sm btn-info capitalize px-6"
                                                    name="follow"
                                                    value="requested">
                                                requested
                                            </button>
                                            <button class="btn btn-sm btn-success capitalize px-6" name="message">
                                                message
                                            </button>
                                        {% else %}
                                            <button id="FollowUnfollowButton"
                                                    class="btn btn-sm btn-info capitalize px-6"
                                                    name="follow"
                                                    value="follow">
                                                follow
                                            </button>
                                            <button class="btn btn-sm btn-success capitalize px-6" name="message">
                                                message
                                            </button>
                                        {% endif %}
                                    </div>

                                </form>
                            {% endif %}
                        </div>

                    </div>
                </div>
                {% if profile.biography %}
                    <div class="flex">
                        <p class="break-all">{{ profile.biography }}</p>
                    </div>
                {% endif %}

                <div class="stats bg-base-200 text-primary-content mt-2">
                    <a href="{% url 'followers' profile.user.username %}">
                        <div class="stat">
                            <div class="stat-title text-base-content">Followers</div>
                            <div class="stat-value text-base-content">{{ profile.followed_by.count|minus }}</div>
                        </div>
                    </a>
                    <div class="stat">
                        <div class="stat-title text-base-content">Following</div>
                        <div class="stat-value text-base-content">
                            {% if profile.follows.count == 0 %}
                                0
                            {% else %}
                                {{ profile.follows.count|minus }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="stat">
                        <div class="stat-title text-base-content">Post</div>
                        <div class="stat-value text-base-content">
                            {% if profile.follows.count == 0 %}
                                0
                            {% else %}
                                {{ profile.user.post_set.count }}
                            {% endif %}
                        </div>
                    </div>

                </div>
                <div class="divider"></div>

            </div>
        </div>
        <div class="flex flex-col mx-5 lg:w-2/12">
            <p class="text-2xl font-semibold mb-5">Suggest People</p>
            {% for profile in profiles %}
                <div class="flex items-center space-x-3 p-3 hover:bg-base-200 hover:rounded-md">
                    <div class="avatar">
                        <div class="mask mask-squircle w-12 h-12">
                            {% if profile.profile_image %}
                                {% thumbnail profile.profile_image '48x48' crop='center' quality=100 as image %}
                                    <img src="{{ image.url }}" alt="Avatar Tailwind CSS Component"/>
                                {% endthumbnail %}
                            {% else %}
                                <img src="/static/images/avatar.png" alt="Avatar Tailwind CSS Component"/>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <div class="font-bold">
                            <a href="{% url 'profile' profile.user.username %}">
                                {{ profile.user.username }}
                            </a>
                        </div>
                        <div class="text-sm opacity-50 line-clamp-1 w-36 ">{{ profile.biography }}</div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </section>
{% endblock %}
{% block footer_references %}
    <script src="/static/js/follow_request.js"></script>
{% endblock %}