<form id="comment-form" class="pb-5 pt-2 px-5 bg-base-100 " method="POST" action="">
    {% csrf_token %}
    <div class="relative">
        <input type="hidden" id="comment-post-id" value="{{ post_id }}">
        {{ create_comment_form.text }}
        <span class="flex absolute right-3 top-2/4 -mt-3 items-center">
            <button>
                <svg class="fill-blue-500" style="width: 24px; height: 24px;" viewBox="0 0 24 24">
                    <path d="M2,21L23,12L2,3V10L17,12L2,14V21Z"></path>
                </svg>
            </button>
        </span>
    </div>
</form>


