<div class="flex mt-3 lg:mt-0">
    <aside class="w-full" aria-label="Sidebar">
        <div class="px-3 py-4 overflow-y-auto shadow-md rounded-md bg-base-100">
            <ul class="space-y-2">
                <li>
                    <a href="{% url 'edit_profile' %}"
                       class="flex items-center p-2 rounded-lg hover:bg-base-200 {% if request.resolver_match.url_name == 'edit_profile' %}bg-base-200{% endif %}">
                        <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                             fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3">Edit Profile</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'edit_personal_information' %}"
                       class="flex items-center p-2 rounded-lg hover:bg-base-200 {% if request.resolver_match.url_name == 'edit_personal_information' %} bg-base-200 {% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-5 w-5 flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75"
                             viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M6.625 2.655A9 9 0 0119 11a1 1 0 11-2 0 7 7 0 00-9.625-6.492 1 1 0 11-.75-1.853zM4.662 4.959A1 1 0 014.75 6.37 6.97 6.97 0 003 11a1 1 0 11-2 0 8.97 8.97 0 012.25-5.953 1 1 0 011.412-.088z"
                                  clip-rule="evenodd"/>
                            <path fill-rule="evenodd"
                                  d="M5 11a5 5 0 1110 0 1 1 0 11-2 0 3 3 0 10-6 0c0 1.677-.345 3.276-.968 4.729a1 1 0 11-1.838-.789A9.964 9.964 0 005 11zm8.921 2.012a1 1 0 01.831 1.145 19.86 19.86 0 01-.545 2.436 1 1 0 11-1.92-.558c.207-.713.371-1.445.49-2.192a1 1 0 011.144-.83z"
                                  clip-rule="evenodd"/>
                            <path fill-rule="evenodd"
                                  d="M10 10a1 1 0 011 1c0 2.236-.46 4.368-1.29 6.304a1 1 0 01-1.838-.789A13.952 13.952 0 009 11a1 1 0 011-1z"
                                  clip-rule="evenodd"/>
                        </svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">Edit Personal Information</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'account_change_password' %}"
                       class="flex items-center p-2 rounded-lg hover:bg-base-200 {% if request.resolver_match.url_name == 'account_change_password' %}bg-base-200{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                  clip-rule="evenodd"/>
                        </svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">Change Password</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'delete_account' %}"
                       class="flex items-center p-2 text-base font-normal rounded-lg hover:bg-base-200 {% if request.resolver_match.url_name == 'delete_account' %} bg-base-200 {% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M13.477 14.89A6 6 0 015.11 6.524l8.367 8.368zm1.414-1.414L6.524 5.11a6 6 0 018.367 8.367zM18 10a8 8 0 11-16 0 8 8 0 0116 0z"
                                  clip-rule="evenodd"/>
                        </svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">Delete Account</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'account_email' %}"
                       class="flex items-center p-2 text-base font-normal rounded-lg hover:bg-base-200 {% if request.resolver_match.url_name == 'account_email' %} bg-base-200 {% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M14.243 5.757a6 6 0 10-.986 9.284 1 1 0 111.087 1.678A8 8 0 1118 10a3 3 0 01-4.8 2.401A4 4 0 1114 10a1 1 0 102 0c0-1.537-.586-3.07-1.757-4.243zM12 10a2 2 0 10-4 0 2 2 0 004 0z"
                                  clip-rule="evenodd"/>
                        </svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">Email Management</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'two-factor-setup' %}"
                       class="flex items-center p-2 text-base font-normal rounded-lg hover:bg-base-200 {% if request.resolver_match.url_name == 'two-factor-setup' %} bg-base-200 {% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M18 8a6 6 0 01-7.743 5.743L10 14l-1 1-1 1H6v2H2v-4l4.257-4.257A6 6 0 1118 8zm-6-4a1 1 0 100 2 2 2 0 012 2 1 1 0 102 0 4 4 0 00-4-4z"
                                  clip-rule="evenodd"/>
                        </svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">Two Factor Authentication</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'user_sessions:session_list' %}"
                       class="flex items-center p-2 text-base font-normal rounded-lg hover:bg-base-200 {% if request.resolver_match.url_name == 'session_list' %} bg-base-200 {% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
                        </svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">Active Session</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'account_logout' %}"
                       class="flex items-center p-2 rounded-lg hover:bg-base-200 {% if request.resolver_match.url_name == 'account_logout' %} bg-base-200 {% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"/>
                        </svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
</div>
