@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --my-color: #fff;
    /* or any other variables/style */
}

[data-theme='dark'] {
    --my-color: #000;
}

[data-theme='pink'] {
    --my-color: #ffabc8;
}

body {
    background-color: var(--my-color);
}

#search {
    color: #000;
}

ul.errorlist {
    color: #F87272;
}

input[type="file"] {
    display: none;
}
