@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --my-color: #fff;
    /* or any other variables/style */
}

[data-theme='dark'] {
    --my-color: #000;
}

[data-theme='pink'] {
    --my-color: #ffabc8;
}

body {
    background-color: var(--my-color);
}

#search {
    color: #000;
}

ul.errorlist {
    color: #F87272;
    max-width: 400px;
}

input[type="file"] {
    display: none;
}

.alert.mb-4 {
    background-color: #fff;
    padding: 0;
    margin-bottom: 1rem;
}

#navbar {
    padding: 0;
}