@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --my-color: #fff;
    /* or any other variables/style */
}

[data-theme='dark'] {
    --my-color: #000;
}

[data-theme='pink'] {
    --my-color: #ffabc8;
}

body {
    background-color: var(--my-color);
}

#search {
    color: #000;
}

ul.errorlist {
    color: #F87272;
    max-width: 400px;
}

input[type="file"] {
    display: none;
}

.alert.mb-4 {
    background-color: #fff;
    padding: 0;
    margin-bottom: 1rem;
}

#navbar {
    padding: 0;
}

.audio-element {
    display: none;
}

.first-wave {
    height: 70px !important;
    width: 470px;
    overflow: hidden !important;
}

.play-button-icon, .volume-icon {
    filter: invert(0.6)
}

#waveform {
    position: relative;
}

.player-body {
    position: relative;
}

/* Custom volume slider */

.volume-slider {
    margin: 0 1rem;
    cursor: pointer;
    width: 100%;
    height: 0.3rem;
    outline: none;
    -webkit-appearance: none;
    background: #EFEFEF;
    border-radius: 10px;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    border: none;
    border-radius: 50%;
    background: #2D5BFF;
    margin-top: -0.6rem;
    color: #EFEFEF;
}

.volume-slider::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    border: none;
    border-radius: 50%;
    background: #2D5BFF;

}

.volume-slider::-ms-thumb {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    border: none;
    border-radius: 50%;
    background: #9ca3af;
}

.volume-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.25rem;
    background-color: #9ca3af;
    border-radius: 10px;
}

.volume-slider::-ms-track {
    color: #0c0b0e;
    width: 100%;
    height: 0.25rem;
    background-color: #9ca3af;
    border-radius: 10px;
}


.liked {
    animation: liked .4s ease;
}

@keyframes liked {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1.1);
    }
    20% {
        transform: scale(1.3);
    }
    30% {
        transform: scale(1.5);
    }
    40% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.unliked {
    animation: unliked .4s ease;
}

@keyframes unliked {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1.1);
    }
    20% {
        transform: scale(1.3);
    }
    30% {
        transform: scale(1.5);
    }
    40% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}