{% load thumbnail %}
{% load static %}
{% load humanize %}
{% load render_partial %}
{% load custom_template_tag %}
<div class="w-fit flex flex-col gap-5 justify-between bg-base-100 p-5">
    <div class="flex justify-between w-full">
        <div class="flex gap-5">
            {% include "post/components/profile_image_component.html" %}
            <div class="flex flex-col justify-center ">
                {% include "post/components/profile_information_component.html" %}
            </div>
        </div>
        <div class="flex justify-center items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                 fill="currentColor">
                <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path>
            </svg>
        </div>
    </div>
    <div class="w-full">
        {% if post.image %}
            {% if post.image.file|is_portrait %}
                {% thumbnail post.image.file "521x521" crop="center" quality=100 as img %}
                    <img class="w-fit portrait" src="{{ img.url }}" alt="">
                {% endthumbnail %}
            {% else %}
                {% thumbnail post.image.file "521x521" quality=100 as img %}
                    <img class="w-fit" src="{{ img.url }}" alt="">
                {% endthumbnail %}
            {% endif %}
        {% elif post.audio %}
            <div class="music-player flex flex-col gap-4 w-full">
                <p class="player-title text-xl font-bold ml-3">{{ post.audio.name }}
                    - {{ post.audio.artist }}</p>
                <div class="player-body flex justify-between w-full">
                    <div id="waveform" class="audio-player flex gap-3  w-full "
                         src="http://127.0.0.1:8000/media/{{ post.audio.file }}">
                        <button id="playButton" class="playbackBtn self-center w-12 h-12">
                            <img
                                    id="playButtonIcon"
                                    class="play-button-icon"
                                    src="/static/images/player/play.svg"
                                    alt="Play Button"
                            />
                        </button>
                    </div>
                </div>
                <div class="controls flex justify-between">
                    <div class="volume flex gap-3 items-center ml-3">
                        <img
                                id="volumeIcon"
                                class=" tooltip tooltip-bottom volume-icon h-6 w-6 cursor-pointer "
                                src="/static/images/player/volume.svg"
                                alt="Volume"
                                data-tip="mute/unmute"
                        />

                        <input
                                id="volumeSlider"
                                class="volume-slider flex items-center"
                                type="range"
                                name="volume-slider"
                                min="0"
                                max="100"
                                value="50"
                        />
                    </div>
                    <div class="timecode">
                        <span class="currentTime" id="currentTime">00:00:00</span>
                        <span>/</span>
                        <span class="totalDuration" id="totalDuration">00:00:00</span>
                    </div>
                </div>
            </div>
        {% elif post.video %}
            {% include "post/components/video_component.html" %}
        {% endif %}


    </div>

    <p>{{ post.caption }}</p>
    <span class="text-sm text-gray-400">{{ post.created_at|time_format }}</span>
    <div class="flex gap-3 justify-between z-autos">

        {% include "post/components/like_component.html" %}

        {% include "post/components/comment_component.html" %}

        {% include "post/components/viral_component.html" %}

        {% include "post/components/share_component.html" %}

        {% include "post/components/save_component.html" %}
    </div>

    <div id="comment-list">
        {% for comment in post.comment_set.all %}
            <div id="comment-{{ comment.id }}">
                {% include "comment/comment.html" with comment=comment %}
            </div>
        {% endfor %}
    </div>
</div>
