{% load thumbnail %}
{% load static %}
{% load humanize %}
{% load render_partial %}
{% load custom_template_tag %}
<div class="w-fit flex flex-col gap-5 justify-between bg-base-100 p-5">
    <div class="flex justify-between w-full">
        <div class="flex gap-5">
            {% include "post/components/profile_image_component.html" %}
            <div class="flex flex-col justify-center ">
                {% include "post/components/profile_information_component.html" %}
            </div>
        </div>
        <div class="flex justify-center items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                 fill="currentColor">
                <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path>
            </svg>
        </div>
    </div>
    <div class="w-full">
        {% if post.image %}
            {% include "post/components/image_component.html" %}
        {% elif post.audio %}
            {% include "post/components/audio_component.html" %}
        {% elif post.video %}
            {% include "post/components/video_component.html" %}
        {% endif %}

    </div>

    <p>{{ post.caption }}</p>
    <span class="text-sm text-gray-400">{{ post.created_at|time_format }}</span>
    <div class="flex gap-3 justify-between z-autos">

        {% include "post/components/like_component.html" %}

        {% include "post/components/comment_component.html" %}

        {% include "post/components/viral_component.html" %}

        {% include "post/components/share_component.html" %}

        {% include "post/components/save_component.html" %}
    </div>

</div>
