{% extends 'shared/base.html' %}
{% block title %}
    Upload Post
{% endblock %}
{% block content %}
    <div class="flex justify-center w-full bg-base-200">
        <div class="card w-5/6 md:w-2/4 bg-base-100 shadow-xl m-5">
            <div class="card-body">
                <h2 class="card-title mb-3">Upload Post</h2>
                <form method="POST" enctype="multipart/form-data" action="{% url 'upload_post' %}">
                    {% csrf_token %}
                    <div class="mb-5 w-full">
                        <div class="">
                            <label for="comment" class="sr-only"></label>
                            {{ upload_post_form.caption }}
                            {{ upload_post_form.caption.error }}
                        </div>
                        <div class="flex justify-between items-center py-2 mt-2">

                            <div class="flex pl-0 space-x-5 sm:pl-2">
                                <button type="button"
                                >
                                    <label class="cursor-pointer" for="id_image">
                                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z"
                                                  clip-rule="evenodd">
                                            </path>
                                        </svg>
                                        {{ upload_post_attachment_form.image }}
                                    </label>
                                </button>
                                <button type="button"
                                >
                                    <label class="cursor-pointer" for="id_video">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                             viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"/>
                                        </svg>
                                        {{ upload_post_attachment_form.video }}
                                    </label>
                                </button>
                                <button type="button"
                                >
                                    <label class="cursor-pointer" for="id_audio">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                             viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z"/>
                                        </svg>
                                        {{ upload_post_attachment_form.audio }}
                                    </label>
                                </button>
                            </div>
                            <input type="submit"
                                   class="btn btn-success"
                                   value="submit">

                        </div>
                    </div>
                    <p>{{ upload_post_form.errors }}</p>
                    <p>{{ upload_post_attachment_form.audio.errors }}</p>
                    <p>{{ upload_post_attachment_form.audio.image }}</p>
                    <p>{{ upload_post_attachment_form.audio.video }}</p>
                </form>

                <p class="ml-auto text-xs text-gray-500 dark:text-gray-400">Remember, contributions to this topic should
                    follow our
                    <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline">Community Guidelines</a>.</p>
            </div>

        </div>
    </div>

{% endblock %}