{% extends "shared/base.html" %}
{% load i18n %}

{% block content %}
    {% if messages %}
        {% for message in messages %}

            <div class="w-full text-white bg-emerald-500">
                <div class="container flex items-center justify-between px-6 py-4 mx-auto">
                    <div class="flex">
                        <svg viewBox="0 0 40 40" class="w-6 h-6 fill-current">
                            <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z"></path>
                        </svg>

                        <p class="mx-3">{{ message }}</p>
                    </div>

                    <button onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'
                            class="p-1 transition-colors duration-200 transform rounded-md hover:bg-opacity-25 hover:bg-gray-600 focus:outline-none">
                        <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="flex w-full justify-center bg-base-200">
        <div class="flex flex-col lg:flex-row justify-center w-max my-5 md:gap-6">
            {% include 'user/components/sidebar.html' %}
            <section class="mt-5 grid-cols-3 md:mt-0 md:col-span-3 flex flex-col gap-5">

                <div class="mockup-code bg-base-100 text-base-content shadow-md">
                    <div class="p-5">
                        <h1 class="mb-3 text-lg	 font-semibold">
                            {% trans "Two-Factor Authentication Backup Tokens : " %}
                        </h1>
                        <div class="flex">
                            {% if backup_tokens %}
                                {% if reveal_tokens %}
                                    <ul>
                                        {% for token in backup_tokens %}
                                            <li>{{ token.token }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {% trans 'Backup tokens have been generated, but are not revealed here for security reasons. Press the button below to generate new ones.' %}
                                {% endif %}
                            {% else %}
                                {% trans 'No tokens. Press the button below to generate some.' %}
                            {% endif %}
                        </div>
                    </div>

                </div>

                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-success btn-block capitalize" type="submit">
                        {% trans 'Generate backup tokens' %}
                    </button>
                </form>

                <a class="btn btn-error capitalize" href="{% url 'two-factor-remove' %}">Disable Two Factor</a>
            </section>
        </div>
    </div>

{% endblock %}