{% if request.user.is_authenticated %}
    <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost text-gray-500 m-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor"
                 stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9">
                </path>
            </svg>
        </label>
        <div tabindex="0"
             class="dropdown-content right-[-3rem] border-base-300 border-[1px] mt-1 overflow-visible card card-compact w-[28rem] max-sm:w-[20rem] p-2 right-0 bg-base-100 drop-shadow-2xl text-primary-content ">
            <div class="ml-52 -mb-[1px] inline-block ">
                <div class="h-3 w-3 -z-[100] border-base-300 absolute left-[14.4rem] sm:left-[22.4rem] -top-3 origin-bottom-left rotate-45 transform border-t-[1px] border-l-[1px] bg-base-100"></div>
            </div>
            <div class="card-body">
                <h3 class="card-title">Card title!</h3>
                <p>you can use any element as a dropdown.</p>
            </div>
        </div>
    </div>
{% endif %}