{% load sorl_thumbnail %}
{% load render_partial %}
<header class="w-full flex justify-center z-40 bg-base-100 sticky top-0 drop-shadow-md">
    <div id="navbar" class="navbar mx-8 flex sticky top-0  flex h-16 w-full justify-center text-primary-content">
        <div class="flex-none lg:hidden">
            <label for="my-drawer-3" class="btn btn-square btn-ghost text-base-content">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     class="inline-block w-6 h-6 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </label>
        </div>
        <div class="flex-1 px-2 mx-2 ">
            <a class="btn btn-ghost font-semibold normal-case text-xl text-gray-500" href="{% url 'home' %}">Happier</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal items-center gap-2">
                {% if request.user.is_authenticated %}
                    {% include 'shared/header/components/create_post_button.html' %}
                {% endif %}
                {% include 'shared/header/components/themes_component.html' %}
                {% if request.user.is_authenticated %}
                    {% render_partial "activity.views.activity" %}
                {% endif %}
                {% include 'shared/header/components/profile_component.html' %}
            </ul>
        </div>
    </div>
</header>
{% render_partial "post.views.create_new_post_view" %}
