<form id="like-form" method="post" action="">
    {% csrf_token %}
    <input type="hidden" value="{{ post.pk }}" id="like-post-id">
    <button id="Like" type="submit" class="flex gap-2">
        <svg id="Like-svg" xmlns="http://www.w3.org/2000/svg"
             class="h-6 w-6 heart-like-button {% if is_liked %}fill-rose-600{% endif %}" fill="none"
             viewBox="0 0 24 24"
             stroke="{% if is_liked %} {% else %}CurrentColor{% endif %}" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
        </svg>
        <span id="like-count">{{ post.postlike_set.count }}</span>
    </button>
</form>