{% load render_partial %}
<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
    {% include 'shared/references/haeder_references.html' %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="drawer">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle"/>
    <div class="drawer-content flex flex-col">
        {% render_partial 'home.views.header_component' %}
        <main class="container mx-auto bg-base-100">
            {% block content %}
            {% endblock %}
        </main>
        {% include 'shared/footer/footer.html' %}
    </div>
    {% include "shared/header/components/drawer_side_component.html" %}
</div>
</body>
{% include 'shared/references/footer_references.html' %}
{% block footer_references %}{% endblock %}
</html>