{% load render_partial %}
<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
    {% include 'shared/haeder_references.html' %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container mx-auto">

    {% render_partial 'home.views.header_component' %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% include 'components/footer_component.html' %}
</div>
</body>
{% include 'shared/footer_references.html' %}
{% block footer_references %}

{% endblock %}
</html>