{% load thumbnail %}
{% load static %}
<section>
    <h1 class="text-3xl font-bold mt-10 capitalize">Hi {{ request.user.get_full_name }} 🖐️</h1>
    {% for follower in request.user.profile.follows.all %}
        {% for post in follower.user.post_set.all %}
            <div class="flex flex-col gap-5 justify-between my-5 bg-base-100 p-5 rounded-md shadow-md">
                <div class="flex justify-between w-full">
                    <div class="flex gap-5">
                        <div>
                            <div class="avatar">
                                <div class="w-16 rounded-full">
                                    {% if post.user.profile.profile_image %}
                                        {% thumbnail post.user.profile.profile_image "64x64" crop="center" quality=100 as img %}
                                            <img src="{{ img.url }}" alt="{{ request.user.username }}">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img alt="user profile image" src="/static/images/avatar.png"/>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col justify-center ">
                            <a href="{% url 'profile' post.user.username %}">
                                <h1 class="text-xl font-bold capitalize">{{ post.user.get_full_name }}</h1>
                                <p>@{{ post.user.username }}</p>
                            </a>
                        </div>
                    </div>
                    <div class="flex justify-center items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                             fill="currentColor">
                            <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"/>
                        </svg>
                    </div>
                </div>
                <div class="w-full">
                    {% if post.postattachment_set %}
                        {% for attachment in post.postattachment_set.all %}
                            {% if attachment.image %}
                                {% if attachment.image|is_portrait %}
                                    {% thumbnail attachment.image "521x470" crop="center" quality=100 as img %}
                                        <img class="w-fit portrait" src="{{ img.url }}" alt="">
                                    {% endthumbnail %}
                                {% else %}
                                    {% thumbnail attachment.image "521x470" quality=100 as img %}
                                        <img class="w-fit" src="{{ img.url }}" alt="">
                                    {% endthumbnail %}
                                {% endif %}
                            {% elif attachment.audio %}

                                <div class="player-body">
                                    <div id="waveform" class="audio-player flex flex-col"
                                         src="http://127.0.0.1:8000/media/{{ attachment.audio.file }}">
                                        <p>{{ attachment.audio.name }} - {{ attachment.audio.artist }}</p>
                                        <div class="controls">
                                            <div class="volume">
                                                <img
                                                        id="volumeIcon"
                                                        class="volume-icon"
                                                        src="assets/icons/volume.svg"
                                                        alt="Volume"
                                                />
                                                <input
                                                        id="volumeSlider"
                                                        class="volume-slider"
                                                        type="range"
                                                        name="volume-slider"
                                                        min="0"
                                                        max="100"
                                                        value="50"
                                                />
                                            </div>
                                            <div class="timecode">
                                                <span class="currentTime" id="currentTime">00:00:00</span>
                                                <span>/</span>
                                                <span class="totalDuration" id="totalDuration">00:00:00</span>
                                            </div>
                                        </div>
                                        <button id="playButton" class="playbackBtn">
                                            <img
                                                    id="playButtonIcon"
                                                    class="play-button-icon"
                                                    src="/static/images/player/play.svg"
                                                    alt="Play Button"
                                            />
                                        </button>
                                    </div>
                                </div>

                            {% elif attachment.video %}
                            {% endif %}
                        {% endfor %}

                    {% endif %}
                </div>

                <p>{{ post.caption }}</p>
                <span class="text-sm text-gray-400">{{ post.created_at|timesince }} ago</span>
                <div class="flex gap-3 justify-between">
                    <div class="flex gap-2 tooltip tooltip-bottom" data-tip="Like">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
                        </svg>
                        <span>2k</span>
                    </div>
                    <div class="flex gap-2 tooltip tooltip-bottom" data-tip="Comment">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"/>
                        </svg>
                        <span>100</span>
                    </div>
                    <div class="flex gap-2 tooltip tooltip-bottom" data-tip="Viral">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"/>
                        </svg>
                        <span>32</span>
                    </div>
                    <div class="flex gap-2 tooltip tooltip-bottom" data-tip="Share">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z"/>
                        </svg>
                        <span>Share</span>
                    </div>
                    <div class="flex gap-2 tooltip tooltip-bottom" data-tip="Save">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"/>
                        </svg>
                        <span>Save</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}

</section>
