<h1 class="text-3xl font-bold my-5">Stories</h1>
<section class="flex flex-col gap-5 max-w-2xl overflow-x-auto">
    <div class="flex gap-7 justify-between rounded-md my-5">
        <div class="avatar flex flex-col justify-center items-center gap-3">
            <div class="w-16 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2  flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 m-5" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                </svg>
            </div>
            <span class="truncate ">New Story</span>
        </div>
        <div class="avatar flex flex-col justify-center items-center gap-3">
            <div class="w-16 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                <img src="https://api.lorem.space/image/face?hash=3174"/>
            </div>
            <span class="truncate max-w-[80px]">rzashakeri</span>
        </div>
        <div class="avatar flex flex-col justify-center items-center gap-3">
            <div class="w-16 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                <img src="https://api.lorem.space/image/face?hash=3174"/>
            </div>
            <span class="truncate max-w-[80px]">13shahar1370</span>
        </div>
        <div class="avatar flex flex-col justify-center items-center gap-3">
            <div class="w-16 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                <img src="https://api.lorem.space/image/face?hash=3174"/>
            </div>
            <span class="truncate max-w-[80px]">s___1348</span>
        </div>
        <div class="avatar flex flex-col justify-center items-center gap-3">
            <div class="w-16 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                <img src="https://api.lorem.space/image/face?hash=3174"/>
            </div>
            <span class="truncate max-w-[80px]">zb.pasha</span>
        </div>
        <div class="avatar flex flex-col justify-center items-center gap-3">
            <div class="w-16 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                <img src="https://api.lorem.space/image/face?hash=3174"/>
            </div>
            <span class="truncate max-w-[80px]">zb.pasha</span>
        </div>
        <div class="avatar flex flex-col justify-center items-center gap-3">
            <div class="w-16 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                <img src="https://api.lorem.space/image/face?hash=3174"/>
            </div>
            <span class="truncate max-w-[80px]">zb.pasha</span>
        </div>
        <div class="avatar flex flex-col justify-center items-center gap-3">
            <div class="w-16 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                <img src="https://api.lorem.space/image/face?hash=3174"/>
            </div>
            <span class="truncate max-w-[80px]">zb.pasha</span>
        </div>
    </div>
</section>
